<div class="jumbotron">
  <center>
    <h1>Welcome to Launchpad's Pizza</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPUKO9BRXsMfYBB19OQEdQERDzz6E39zYEExbU6t16p9gEdI16vw"launchpad's pizza" >
    <br>
    <%= link_to "Check out our Pizzas", pizzas_path, class: "btn btn-default" %>
  </center>  
</div>